@import url("survey-form.css");
@import url("survey-report.css");
@import url("create.css");
@import url("home.css");
@import url("userProfile.css");
@import url("cart.css");
@import url("orderSummary.css");
@import url("admin.css");
@import url("details.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
}

body {
    padding: 20px;
}

.brand {
    display: inline-block;
    font-size: 14pt;
}

.nav {
    display: inline-block;
    float: right;
}

.nav li {
    list-style: none;
    text-decoration: none;
    float: left;
    margin-right: 10px;
}

.navbar {
    margin-bottom: 20px;
}

table {
    width: 100%;
}

a { text-decoration: none; }
a:link { color: black; }
a:visited { color: black; }
a:hover { color: grey; }
a:active { color: gray; }

.header-link {
    font-weight: bold; border-bottom: 2px solid gray;
}

.navbar-text {
    color: lightskyblue;
}

.page-action {
    background-color: lightskyblue;
    font-size: 16pt;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.error {
    background-color: indianred;
}


form label {
    display: inline-block;
    width: 10em;
}

.controls {
    display: inline-block;
    margin-bottom: 10px;
}

form input[type=text],[type=password] {
    padding: 4px;
    width: 14em;
    font-size: 12pt;
}

select {
    border: 1px solid gray;
    padding: 2px;
    font-size: 12pt;
}

button {
    font-size: 12pt;
    padding: 5px;
    background-color:lightgray;
    border-radius: 4px;
}

table th {
    width: 100px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

table td {
    padding: 10px 10px 10px 0px;
}

.reserve-button {
    width: 120px;
}

.manage-items {
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 5px;
}

.text-error {
    color: indianred;
}

#add_item .text-error, #login_form .text-error,
#register_form .text-error ,#profile_form .text-error{
    display: none;
}

.mandatory {
    color: indianred;
}

.ami span {
    display: none;
}

.ami:hover span {
    max-width: 100px;
    z-index: 9999;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

input[type=checkbox]{
    font-size: x-large;
}

.submit_button{
    margin-top: 10px;
}
#checkOutTable{
    width: 400px;
}
